<mat-toolbar>
  
  <a class="header-toolbar-title" routerLink="/">My App</a>
  <span class="right-button-spacer"></span>
  <button mat-icon-button class="example-icon" routerLink="/saved" aria-label="Example icon-button with share icon">
    <mat-icon [matBadge]="jokeCount$ | async" matBadgeColor="accent">list_alt</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      View Saved Jokes
    </span>
    
  </button>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- <ul>
  <li *ngFor="let qte of favoriteList$ | async">{{qte.joke}}</li>
</ul> -->