<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>My App</span>
 <span class="example-spacer"></span>
 <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
</mat-toolbar>


<router-outlet></router-outlet>

<ng-container *ngIf="activeQuote$ | async; let activeQuote">
  <blockquote *ngIf="activeQuote" > 
    {{activeQuote.joke}}
  </blockquote>
  <button (click)="saveQte_Onclick(activeQuote)">Save Quote</button>
</ng-container>
<button (click)="newQte_OnClick();">New Quote</button>


<ul>
  <li *ngFor="let qte of favoriteList$ | async">{{qte.joke}}</li>
</ul>